.center-select {
    overflow: scroll;
    white-space: nowrap;
    /* transform-origin: 50% 100%; */
    transform: perspective(1000px) rotateX(0deg);
    /* transform: rotateX(24deg); */
    z-index: 3;
    height: 1000px;
}

.side {
    position: absolute;
    right: 30px;
    top: 38%;
    width: 100%;
    height: 400px;
    background: rgba(240, 128, 128, 0.392);
    color: white;
    font-size: 18px;
    overflow: scroll;
    white-space: normal;
    padding: 10px;

}



#self {
    width: 100%;
    height: 700px;
}

.bio-img,
.moodi-img,
.rpg-img,
.nyt-img,
.art-img,
.contact-img {
    margin: 30px;
    padding: 25px;
    /* background-image: url("../images/habitat.jpg");
    background-repeat: none;
    background-size: cover; */
}

.bio-name,
.moodi-name,
.rpg-name,
.nyt-name,
.art-name,
.contact-name,
.side-name {
    position: absolute;
    margin: 30px;
    padding: 25px;
    top: 100px;
    left: -70px;
    text-transform: uppercase;

}


input {
    width: 90%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
}

button {
    background: none;
    border: none;
}

button:hover {
    background: none;
    border: none;
    color: white;
}

.back-home {
    font-size: 16px;
    position: absolute;
    top:30px;
    right:60px;
}