.navbar {
    /* position: absolute; */
    top: 110px;
    right: -1%;
    width: 500px;
    float:right;
    z-index: 2;
}


.nav-item {
    /* margin: 300px; */
    float:right;
    text-transform: uppercase;
    font-size: 18px;
    padding: 1px 4px 1px 4px;
}


/*
.tag {
    color: rgba(107, 255, 124, 0.26)
}

.nav-item:hover {
    color: rgb(215, 179, 199);
} */


/* .dropdown-wrap {
    background:transparent;
} */

.dropdown-menu.show {
    background:none;
    border:none;
    padding:0px;
}

.dropdown-item {
    color:white;
    padding-left:12px;
}
.dropdown-item:hover {
    background:rgba(255, 255, 255, 0.438);
    padding-left:12px;
}