/* @font-face {
    font-family: custom;
    src: url(fonts/camcorder_ms_reg_6pre-webfont.ttf),format('truetype');
} */

body {
    font-family: 'Overpass Mono', monospace;
    /* font-family: custom; */
    font-size: 44px;
    background: linear-gradient(to left, rgb(126, 169, 144), rgb(202, 166, 186));
    background-size: cover;
    color: white;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(189, 214, 244);
}






